<header class="header">
    <ul class="nav">
        <a href="/" class="header__logo">QCStats</a>
        <li> <a href="/">Home</a></li>
        <li> <a href="#">Leaderboards</a></li>
        <li> <a href="#">Statistics</a></li>
        <li> <a href="#">Distribution</a></li>
        <li> <a href="#">Profile</a></li>
    </ul>
</header>